{% extends 'base.html.twig' %}

{% block title %}COMPTE {{ parent() }}{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center mb-5 mt-5">Modifier mon mot de passe</h1>
    - <a class="btn btn-success" href="{{ path('account') }}">← Retourner dans mon espace</a><br>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form)}}
    <hr class="pb-5">
</div>
{% endblock %}