{% extends 'base.html.twig' %}

{% block title %}Liste des inscrits{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5"> Liste des inscrits sur le site</h1>
        <p>Le format respecte le format d'importation de contacts de mailjet (plus qu'à copier-coller dans votre liste de contacts) : </p><br>
        <div class="mt-3 shadow p-3 mb-5">
            <p>
            {% for users in user %}
                {{ users.email }}, {{ users.name }}, {{ users.firstname }}<br>
            {% endfor %}
            </p>
        </div>    
        <p>Vous pouvez retrouver plus d'informations dans le dashboard. Vous pouvez également les modifier si besoin.</p>

        <hr>

        <h1 class="mt-5"> Liste des abonnés à la newsletter</h1>
        <p>Voici la liste des abonnés de la newsletter. N'apparaissent ici, que ceux, qui ont donné leur accord
        pour la recevoir. Vous pouvez modifier cet accord dans le dashboard.<br>
        Le format respecte le format d'importation de contacts de mailjet (plus qu'à copier-coller dans votre liste de contacts) : </p><br>
        <div class="mt-3 shadow p-3 mb-5">
            <p>
            {% for user in users %}
                {% if user.isAgreed == true %}
                    {{ user.email }}<br>
                {% endif %}
            {% endfor %}
            </p>
        </div>    
    </div>
{% endblock %}