{% extends 'base.html.twig' %}

{% block title %}Création de Newsletter{% endblock %}

{% block content %}
    
    <h1> Écrivez votre newsletter</h1>
    {% for message in app.flashes('message') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    {{ form(form) }}

{% endblock %}